body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.logo-home{
	height: auto;
	max-width: 50%;
	vertical-align:bottom;
}
.navbar{
	background-color:#ddd;
}
li.active{
	background-color:#eee;
}
